body {
    background-color: #ECECEC;
}

#containerWorkers{
    display: flex;
    justify-content: center;
}

#tableWorkers {
    font-size: 16px;
    text-align: center;
}

#containerWorkersExtra {
    display: flex;
    justify-content: center;
}

#tableWorkersExtra {
    text-align: center;
}

table, td {
    border: 1px solid #000000;
    border-collapse: collapse;
}