
body {
    background-color: #ECECEC !important;
    font-family: 'Nunito', sans-serif !important;
}

#containerWorkers {
    display: flex !important;
    justify-content: center !important;
}

#tableWorkers {
    font-size: 16px !important;
    text-align: center !important;
}

#containsWorkersExtra {
    display: flex !important;
    justify-content: center !important;
}

#tableWorkersPhone {
    font-size: 16px !important;
    text-align: center !important;
}

#tableWorkersMail {
    font-size: 16px !important;
    text-align: center !important;
}

#containerWorkersExtra {
    display: flex !important;
    justify-content: center !important;
}

#tableWorkersExtra {
    text-align: center !important;
}

table, td {
    border-collapse: collapse !important;
}

.btn-sub {
    background-color: #CCFE0F !important;
    font-family: arial !important;
    font-size: 1em !important;
    color: #000000 !important;
    padding: 8px 25px !important;
    border: solid 0.25px black !important;
}

.btn-sub:hover {
    background-color: #8EB223 !important;
    color: #FFFFFF !important;
}

/* Zona Login */

.login-table {
    margin-top: 15%;
    border: solid 1px black;
    padding: 100px 150px;
    align-content: center;
    width: 100%;
}

.inner-addon { 
    position: relative; 
}

.inner-addon .fas {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.left-addon .glyphicon  { 
    left: 0px;
}

.left-addon input  { 
    padding-left: 30px;
}

/*Formulario inscripccion*/

#tituloInsertar {
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}

.modal-content {
    width: 1200px !important;
    height: auto !important;
    display: inline-block !important;
}

.tablas {
    margin-top: 40px;
    padding: 15px 15px 15px 15px;
    margin-left: 87px;
    display: inline-block;
    font-size: 13px;
}

.tablas2 {
    margin-top: 40px;
    padding: 15px 15px 15px 15px;
    margin-left: 87px;
    display: inline-block;
    font-size: 13px;
}

.container label {
    font-weight: bold;
}

.container input {
    border: 1px solid rgb(168, 163, 163) !important;
}

.botonEnviar {
    margin-top: 20px !important;
    margin-bottom: 50px !important;
    margin-left: 460px;
}

.containerWorkers {
    margin: 25px !important;
}

#insertar {
    padding-right: 600px !important;
    padding-top: 50px; 
}

#modificar {
        padding-right: 600px !important;
        padding-top: 50px; 
    }
