
body {
    background-color: #ECECEC !important;
    font-family: 'Nunito', sans-serif !important;
}

#containerWorkers {
    display: flex !important;
    justify-content: center !important;
}

#tableWorkers {
    font-size: 16px !important;
    text-align: center !important;
}

#containsWorkersExtra {
    display: flex !important;
    justify-content: center !important;
}

#tableWorkersPhone {
    font-size: 16px !important;
    text-align: center !important;
}

#tableWorkersMail {
    font-size: 16px !important;
    text-align: center !important;
}

#containerWorkersExtra {
    display: flex !important;
    justify-content: center !important;
}

#tableWorkersExtra {
    text-align: center !important;
}

table, td {
    border-collapse: collapse !important;
}

.btn-sub {
    background-color: #CCFE0F !important;
    font-family: arial !important;
    font-size: 1em !important;
    color: #000000 !important;
    padding: 8px 25px !important;
    border: solid 0.25px black !important;
}

.btn-sub:hover {
    background-color: #8EB223 !important;
    color: #FFFFFF !important;
}

.login-table {
    margin-top: 150px !important;
    border: solid 1px black !important;
    padding: 100px 150px !important;
    align-content: center !important;
}

.inner-addon {
  position: relative !important;
}

.inner-addon .fas {
  position: absolute !important;
  padding: 10px !important;
  pointer-events: none !important;
}

.left-addon .fas {
  left: 0px !important;
}

/*Formulario inscripccion*/

#tituloInsertar {
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}

.modal-content {
    width: 1500px !important;
    height: auto !important;
    display: inline-block !important;
}

.tablas {
    padding: 25px;
    margin-left: 87px;
    display: inline-block;
    font-size: 13px;
}

.container label {
    font-weight: bold;
}

.botonEnviar {
    padding-bottom: 5px;
}

.containerWorkers {
    margin: 25px !important;
}
